@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
	html {
		font-family: "Inter", system-ui, sans-serif;
	}
} */

@layer components {
	body {
		@apply selection:bg-green-300;
	}
	.btn {
		@apply rounded-md bg-green-500 px-6 py-4 font-medium shadow-3xl shadow-green-500/50 transition-all duration-200 hover:text-white hover:shadow-md;
	}
	.btn-xl {
		@apply rounded-md bg-green-500 px-8 py-6 text-2xl font-medium shadow-2xl shadow-green-500/50 transition-all duration-200 hover:text-white hover:shadow-md;
	}
	.btn-green {
		@apply text-slate-900;
	}

	nav ul li a {
		@apply font-semibold uppercase text-slate-900 transition-all duration-200 hover:text-green-500;
	}
	.btn-dark {
		@apply bg-gray-900 text-white shadow-gray-900/50;
	}
	.btn-dark:hover {
		background: rgb(34 197 94 / 1);
	}
	.active {
		@apply text-green-500;
	}

	h1 {
		@apply mb-4 text-4xl font-medium leading-none tracking-tight text-slate-900 dark:text-slate-50 md:mb-6 md:text-5xl lg:text-6xl 2xl:text-7xl;
	}
	h2 {
		@apply text-3xl font-medium text-gray-900 md:text-5xl 2xl:text-6xl;
	}
	p {
		@apply mb-4;
	}
}
.marquee {
	animation: marquee 20s linear infinite;
}
@keyframes marquee {
	0% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
